@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #F5F5F5;
  color: #0a0a0a;
}


html{
  scroll-behavior: smooth;
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color:  #C0C0C0;
  color: #0a0a0a;
}

.logo{
  margin-left: 150px;
  font-size: 20px;
  font-weight: bold;
}

.nav-links{
  display: flex;
  padding-right: 300px;
  gap: 50px;
}

.Home-page{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 130px;
}

.para{
  font-size: small;
  font-weight: normal;
}

.form{
  padding: 20px;
  font-size: small;
  font-weight: normal;
}

.btn{
  background-color:  #001F3F;
  width: 100px;
  height: 30px;
  color: #C0C0C0;
}

.input-type{
  width: 300px;
  height: 30px;
  padding: 20px;
}

.pay {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

.pay p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.pay a {
  display: flex;
  justify-content: center;
}

.pay a img {
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.pay {
  flex-direction: column;
}

.pay .logos {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.category{
  padding: 100px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.pa{
  font-weight: normal;
  font-size: small;
}

.video-editor {
  padding-left: 120px;
  display: flex;
  gap: 30px;
}
.video-card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: left;
  padding: 0;
}

.video-card iframe {
  width: 100%;
  height: 170px;
  border: none;
  display: block;
}

.rating {
  color: black;
  font-size: 20px;
  margin-top: 4px;
}

.video-details {
  padding: 10px 15px; /* Add space around the text */
}

.video-details h3 {
  margin: 0 0 5px 0;
  font-size: 16px;
}

.video-details p {
  margin: 3px 0;
  font-size: 14px;
}

.title{
  font-weight: bold;
}