@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
  color: #0a0a0a;
}



html{
  scroll-behavior: smooth;
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color:  #C0C0C0;
  color: #0a0a0a;
}

.logo{
  margin-left: 150px;
  font-size: 20px;
  font-weight: bold;
}

.nav-links{
  display: flex;
  padding-right: 300px;
  gap: 50px;
}

.Home-page{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 130px;
}

.para{
  font-size: small;
  font-weight: normal;
}

.form{
  padding: 20px;
  font-size: small;
  font-weight: normal;
}

.btn{
  background-color:  #001F3F;
  width: 100px;
  height: 30px;
  color: #C0C0C0;
}

.button{
  background-color:  #001F3F;
  width: 200px;
  border-radius: 10px;
  color: #C0C0C0;
}

.button1{
  background-color:  #001F3F;
  width: 350px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  color: #C0C0C0;
}
.input-type{
  width: 300px;
  height: 30px;
  padding: 20px;
}

.pay {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

.pay p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.pay a {
  display: flex;
  justify-content: center;
}

.pay a img {
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.pay {
  flex-direction: column;
}

.pay .logos {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.category{
  padding: 100px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.pa{
  font-weight: normal;
  font-size: small;
}

.video-editor {
  grid-template-columns: repeat(4, minmax(350px, 1fr));
  display: grid;
  padding: 20px 160px 0 120px;
  gap: 30px;
}
.video-card {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: left;
  padding: 0;
  margin: 0;
}

.video-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  border-radius: 10px 10px 0 0;
}

.rating {
  color: black;
  font-size: 20px;
  margin-top: 4px;
}

.video-details {
  padding: 10px 15px;
}
.video-details1 {
  padding: 10px 15px;
}

.d{
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
}
.video-details h3 {
  margin: 0 0 5px 0;
  font-size: 16px;
}

.video-details p {
  margin: 3px 0;
  font-size: 14px;
}

.title{
  font-weight: bold;
}

.loadmore {
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}


.load-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color:  #001F3F;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.load-btn:hover {
  background-color: #001F3F;

}


.footer{
  background-color:  #C0C0C0;
 
}

.company{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.c{
  font-weight: bold;
  position: relative;
}

.loggo{
  margin-left: 150px;
  font-size: 20px;
  font-weight: bold;
  padding: 30px;
}

.company {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -70px;
}

.company ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 160px;
  text-align: left;
  position: relative;
  padding-left: 45px;
  line-height: 30px;
}

.video-id{
  align-items: center;
  position: relative;
  padding: 20px;
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  background-color: white;

}

.video-id img{
  width: 100%;
  display: block;
  height: auto;
  border-radius: 12px;
}
.subscribe{
  text-align: right;
  position: relative;
  padding-right: 150px;
  font-weight: bold;
  margin-top: -150px;
}

.par {
  text-align: right;
  padding-right: 70px;
  font-weight: normal;
  margin: 0;
  line-height: 1.6;
  white-space: normal;
  display: block;
  direction: rtl;
}

.secondpage{
  display: flex;
  align-items: flex-start;
  padding: 20px;
  margin-left: 70px;
  font-size: 40px;
  font-weight: bold;
}

.secondpagee{
  display: flex;
  padding: 20px;
  margin-left: 70px;
  font-size: 30px;
  font-weight: bold;
}

.des{
  margin-left: 90px;
  align-items: flex-start;
  position: relative;
}